<!-- Large title -->
<ion-content>
  <p routerLink="../../tab1" class="text"><</p>

  <p class="text0">About Anxiety</p>
<!--card-->
<ion-row>
  <ion-col>
    <ion-card class="card" style="background-color: #C1E7F3">
      <ion-card-header>
        <ion-card-subtitle class="title">Major Types</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img style="width: 80%; margin-left: 10%" src="../../assets/6.svg"/>
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>

    <ion-card class="card" style="background-color: #BDC8EF">
      <ion-card-header>
        <ion-card-subtitle class="title">Treatments</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img style="width: 80%; margin-left: 10%" src="../../assets/first-aid-kit.png"/>
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>

    <ion-card class="card" style="background-color: #BADEC2">
      <ion-card-header>
        <ion-card-subtitle class="title">Symptoms</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img style="width: 80%; margin-left: 10%" src="../../assets/clipboard.png"/>
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>



  </ion-col>


  <ion-col style="position:relative; right: 2%">
    <ion-card class="card" style="background-color: lightblue">
      <ion-card-header>
        <ion-card-subtitle class="title">Regional Distribution</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img style="width: 75%; margin-left: 12.5%" src="../../assets/map.png"/>
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: #D4F7FF">
      <ion-card-header>
        <ion-card-subtitle class="title">Age Group</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <img style="width: 80%; margin-left: 10%" src="../../assets/age.png"/>
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: #DFF0B9">
      <ion-card-header>
        <ion-card-subtitle class="title">Other Facts</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <img style="width: 80%; margin-left: 10%" src="../../assets/artificial-intelligence.svg"/>

        <!--        <ion-icon src="../../assets/5.svg"></ion-icon>-->
<!--        insert content here insert content here insert content here-->
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
