<!-- Large title -->
<ion-toolbar>
  <ion-title class="title" size="large">About Anxiety</ion-title>
</ion-toolbar>
<!--card-->
<ion-row>
  <ion-col>
    <ion-card class="card" style="background-color: #C1E7F3">
      <ion-card-header>
        <ion-card-subtitle class="title">Major Types</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-icon src="../../assets/6.svg"></ion-icon>
          insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: #BDC8EF">
      <ion-card-header>
        <ion-card-subtitle class="title">Treatments</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
<!--        <img src="../../assets/1.svg"/>-->
        insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: lightblue">
      <ion-card-header>
        <ion-card-subtitle class="title">Regional Distribution</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
<!--        <ion-icon src="../../assets/2.svg"></ion-icon>-->
        insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col style="position:relative; right: 2%">
    <ion-card class="card" style="background-color: #BADEC2">
      <ion-card-header>
        <ion-card-subtitle class="title">Major Symptoms</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
<!--        <ion-icon src="../../assets/3.svg"></ion-icon>-->
        insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: #D4F7FF">
      <ion-card-header>
        <ion-card-subtitle class="title">Age Group</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
<!--        <ion-icon src="../../assets/4.svg"></ion-icon>-->
        insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
    <ion-card class="card" style="background-color: #DFF0B9">
      <ion-card-header>
        <ion-card-subtitle class="title">Other Facts</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
<!--        <ion-icon src="../../assets/5.svg"></ion-icon>-->
        insert content here insert content here insert content here
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>