<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title >-->
<!--      Self Assessment-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content style="background-color: #FDE8E5;">
<!--  <ion-header style="background-color: #FDE8E5;" collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title style="text-align: center" size="medium">Self Assessment</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
  <div class="background">
    <p class="text0">Mental Health Assessment</p>
    <p class="text1">Fast & easy test.</p>
    <p class="text2">It takes less than 10 minutes.</p>

    <img style="width: 100%" src="../../assets/disorders.png">
     <a routerLink="../../quiz1">
    <img style="width: 50%; margin-left: 24%; margin-top: -5%;" src="../../assets/emotion.png">
     </a>

  </div>

<!--  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
