.about{
    background-color:#D4F7FF;
    .title{
        text-align: left;
    }
}
.tips{
    background-color:#D4E2FF;
    .title{
        text-align: left;
    }
}
.news{
    background-color:#FFD4E2;
    .title{
        text-align: left;
    }
}
.title{
    text-align: left;
}
.content{
    text-align: left;
}
a{
     text-decoration: none; 
}