

<!-- Searchbar disabled -->
<ion-searchbar disabled="true"></ion-searchbar>

<ion-content>
  <!-- <ion-infinite-scroll > -->
    <!-- <ion-infinite-scroll-content> -->
    <a routerLink="../../about">
    <ion-card class="about">
      <ion-card-header>
        <div class="section_title">
        <ion-card-title class="title">Do you know...</ion-card-title>
        <img style="width: 35px; margin-left: 5px" src="assets/idea.png">
        </div>
      </ion-card-header>
    
      <ion-card-content class="content">
        Mental health includes our emotional, psychological, and social well-being. Mental health is important at every stage of life, from childhood and adolescence through adulthood.
      Learn more about mental diseases >>
      </ion-card-content>
    </ion-card>
  </a> 
  <a routerLink="../../tips"> 
  <ion-card class="tips">
    <ion-card-header>
      <div class="section_title">
      <ion-card-title class="title">Tips</ion-card-title>
        <img style="width: 35px; margin-left: 15px" src="assets/latte.png">
      </div>
    </ion-card-header>
  
    <ion-card-content class="content">
      Stress and anxiety are common experiences for most people. In fact, 70% of adults in the Canada say they feel stress or anxiety daily.
      Get more TIPs now!
    </ion-card-content>
  </ion-card>
</a> 
  <ion-card class="news">
    <ion-card-header>
      <div class="section_title">
      <ion-card-title class="title">News</ion-card-title>
        <img style="width: 30px; margin-left: 15px" src="assets/earth-globe.png">

      </div>
    </ion-card-header>
    <h2>
      The prevalence of "new crown PTSD" is as high as 13%
        </h2>
    <ion-card-content class="content">
      After the stress period has passed, psychological problems may become the "second curve" of the epidemic.


      Recently, a new study published in "PLOS ONE" surveyed 1,040 participants in 5 countries. The results showed that more than 13% of people have symptoms of post-traumatic stress disorder (PTSD) related to the epidemic, and symptoms Reached the level of clinical diagnosis.    </ion-card-content>
  </ion-card>

 
 

</ion-content>


