

.about{
    margin-top: -2px;
    background-color:#D4F7FF;
    text-align: left;
}
.section_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.tips{
    background-color:#D4E2FF;
    text-align: left;
}
.news{
    background-color:#FFD4E2;
    text-align: left;
    
}
// .title{
//     text-align: left;
// }
// .content{
//     text-align: left;
// }
h2{
    text-decoration: underline;
    padding-left: 5%;
  
}
a{
     text-decoration: none; 
}