
 
    <ion-toolbar >
      <ion-title >Tips</ion-title>
    </ion-toolbar>

  

<ion-content>
  <ion-infinite-scroll >
    <ion-infinite-scroll-content>
    
    <ion-card class="tips">
      <ion-card-content class="content">
        Exercise
      </ion-card-content>
    </ion-card>

    <ion-card class="tips">
      <ion-card-content class="content">
        Consider supplements
      </ion-card-content>
    </ion-card>
  
    <ion-card class="tips">
      <ion-card-content class="content">
        Light a candle
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Reduce your caffeine intake
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Learn to say no
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Spend time with your pet
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Listen to soothing music
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Take a yoga class
      </ion-card-content>
    </ion-card>
    <ion-card class="tips">
      <ion-card-content class="content">
        Learn to avoid procrastination

      </ion-card-content>
    </ion-card>

  </ion-infinite-scroll-content>
  
  </ion-infinite-scroll>

</ion-content>


